# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment variables
.env
.env.*
!.env.example

# OS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# IDEs
.idea/
.vscode/
*.swp
*.swo
